<div class="espace15"></div>
<h1>Ajouter un article</h1>
<br />
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nom de l'article</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom de l'article">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Contenu</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Ajouter l'article</button>
</form>
