<div class="espace15"></div>

<h1>Listes des articles : </h1>
<br />
<button class="btn btn-primary">cliquer ici</button>
<br />
<br />

<div *ngFor="let advertisement of advertisements">
  <div class="card">
    <h5 class="card-header">{{ advertisement.id }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ advertisement.title }}</h5>
      <p class="card-text">{{ advertisement.description }}</p>
      <p class="card-text">{{ advertisement.category }}</p>
      <p class="card-text">{{ advertisement.address }}</p>
      <p class="card-text">{{ advertisement.price }}</p>
      <p class="card-text">{{ advertisement.createdAt.date | date:'medium'}}</p>
      <img class="card-img-top" width="500" height="500" src="http://localhost:8000/images/products/{{ advertisement.imageName }}" alt="Card image cap">
      <a href="#" class="btn btn-primary">Voir l'article</a>
    </div>
  </div>
  <br />
</div>


