@import "~bootswatch/dist/flatly/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.espace15 {
  padding: 15px;
}
